<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rd.length.spouseMotherPin</key>
	<string>13</string>
	<key>rd.length.spouseFatherPin</key>
	<string>13</string>
	<key>rd.length.txpMotherPin</key>
	<string>13</string>
	<key>rd.length.txpFatherPin</key>
	<string>13</string>
	<key>rd.length.childStudy</key>
	<string>1</string>
	<key>rd.length.childNoStudy</key>
	<string>1</string>
	<key>rd.length.spouseCountryCode</key>
	<string>5</string>
	<key>rd.length.spousePassportNo</key>
	<string>16</string>
	<key>rd.length.spouseBirthDate</key>
	<string>8</string>
	<key>rd.length.spouseSurname</key>
	<string>80</string>
	<key>rd.length.spouseName</key>
	<string>100</string>
	<key>rd.length.spouseNid</key>
	<string>13</string>
	<key>rd.length.marryStatus</key>
	<string>1</string>
	<key>rd.length.spouseStatus</key>
	<string>1</string>
	<key>rd.length.taxpayerStatus</key>
	<string>1</string>
	<key>rd.length.indcForm</key>
	<string>1</string>
	<key>rd.length.contractNo</key>
	<string>10</string>
	<key>rd.length.postcode</key>
	<string>5</string>
	<key>rd.length.province</key>
	<string>50</string>
	<key>rd.length.amphur</key>
	<string>50</string>
	<key>rd.length.tambol</key>
	<string>50</string>
	<key>rd.length.street</key>
	<string>40</string>
	<key>rd.length.mooNo</key>
	<string>10</string>
	<key>rd.length.village</key>
	<string>40</string>
	<key>rd.length.soi</key>
	<string>40</string>
	<key>rd.length.addressNo</key>
	<string>20</string>
	<key>rd.length.floorNo</key>
	<string>10</string>
	<key>rd.length.roomNo</key>
	<string>20</string>
	<key>rd.length.buildName</key>
	<string>40</string>
	<key>rd.length.email</key>
	<string>50</string>
	<key>rd.length.passportNo</key>
	<string>16</string>
	<key>rd.length.surname</key>
	<string>80</string>
	<key>rd.length.name</key>
	<string>100</string>
	<key>rd.length.password</key>
	<string>8</string>
	<key>rd.length.nid</key>
	<string>13</string>
</dict>
</plist>
